<!-- Configure MathJax  -->
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    macros: {
        // common number systems
        CC: ["{\\mathbb C}"],
        NN: ["{\\mathbb N}"],
        QQ: ["{\\mathbb Q}"],
        RR: ["{\\mathbb R}"],
        ZZ: ["{\\mathbb Z}"],

        // Common Mathcal letters
        Acal: ["{\\mathcal A}"],
        Bcal: ["{\\mathcal B}"],
        Dcal: ["{\\mathcal D}"],
        Ecal: ["{\\mathcal E}"],
        Fcal: ["{\\mathcal F}"],
        Gcal: ["{\\mathcal G}"],        
        Hcal: ["{\\mathcal H}"],
        Ical: ["{\\mathcal I}"],
        Jcal: ["{\\mathcal J}"],
        Kcal: ["{\\mathcal K}"],
        Lcal: ["{\\mathcal L}"],
        Mcal: ["{\\mathcal M}"],
        Ncal: ["{\\mathcal N}"],
        Ocal: ["{\\mathcal O}"],
        Rcal: ["{\\mathcal R}"],
        Scal: ["{\\mathcal S}"],
        Tcal: ["{\\mathcal T}"],
        Ucal: ["{\\mathcal U}"],
        Vcal: ["{\\mathcal V}"],
        Xcal: ["{\\mathcal X}"],
        Ycal: ["{\\mathcal Y}"],
        Zcal: ["{\\mathcal Z}"],

        // Probability macros
        Pr: ["{\\mathbb P}"],
        Ex: ["{\\mathbb E}"],
        Ind: ["{\\mathbf 1}_{#1}", 1],
        IndCond: ["{\\mathbf 1}_{\\left\\{#1\\right\\}}", 1],

        // Matrix, linear and functional analysis 
        Id: ["\\operatorname{Id}"],
        TV: ["\\operatorname{TV}"],
        HS: ["\\operatorname{HS}"],
        Frob: ["\\operatorname{Frob}"],
        norm: ["\\left\\lVert #1 \\right\\rVert"],
        abs: ["\\left\\lvert #1 \\right\\rvert"],
        InnerP: ["\\left\\langle #1, #2 \\right\\rangle", 2],
        innerp: ["\\left\\langle #1, #2 \\right\\rangle", 2],
        transpose: ["^{\\intercal}"],
        adjoint: ["^{{\\mathsf *}}"],
        conjugate: ["^{{\\mathsf *}}"],
        dual: ["^{{\\mathsf *}}"],
        inverse: ["^{-1}"],
        comp: ["^{\\mathsf{c}}"],
        compl: ["^{\\mathsf{c}}"],
        complement: ["^{\\mathsf{c}}"],

        // integral macros 
        dd: ["\\mathop{}\!\\mathrm{d}"],
        ds: ["\\dd s"],
        dt: ["\\dd t"],
        du: ["\\dd u"],
        dv: ["\\dd v"],
        dx: ["\\dd x"],
        dy: ["\\dd y"],
        dz: ["\\dd z"],
        dr: ["\\dd r"],
        df: ["\\dd f"],
        dg: ["\\dd g"],
        dh: ["\\dd h"],
        dF: ["\\dd F"],
        dG: ["\\dd G"],
        dH: ["\\dd H"],
        dw: ["\\dd \\omega"],
        dphi: ["\\dd \\phi"],
        dpsi: ["\\dd \\psi"],
        dmu: ["\\dd \\mu"],
        dmu: ["\\dd \\nu"],
        dsigma: ["\\dd \\sigma"],
        dlambda: ["\\dd \\lambda"],
        dth: ["\\dd \\theta"],

        // limit macros
        toUnif: ["\\xrightarrow{\\text{unif}}"],
        toAe: ["\\xrightarrow{\\text{a.e.}}"],
        toMeas: ["\\xrightarrow{\\text{in meas.}}"],
        toWeak: ["\\xrightarrow{\\text{weak}}"],
        toWeakSt: ["\\xrightarrow{\\text{weak}-*}"],
        toDist: ["\\xrightarrow{\\text{in dist.}}"],
        upto: ["\\nearrow"],
        downto: ["\\searrow"],
        toAs: ["\\xrightarrow"],
        toIn: ["\\xrightarrow"],
    }
  }
};
</script>

<!-- Load MathJax for rendering LaTeX -->
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

